.app__user {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .app__user-list {

    }

    .app__user-add_new {
        --tw-bg-opacity: 1;
        background-color: rgb(36 51 189 / var(--tw-bg-opacity));
    }
}